.FullLobby {
  height: 100vh;
  z-index: 1;
}

h1,
h3 {
  color: white;
}

.Menu {
  width: 450px;
  margin-left: 132px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding-top:45px;
}

.MenuTitle {
  font-size: 65px;
  height: 80px;
  border: 1px solid white;
  margin-top: 16px;
  width: 450px;
  display: flex;
  justify-content: center;
}

.Links {
  text-decoration: none;
  color: black;
}

#videoBG {
    position: absolute;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  font-size: 65px;
  height: 80px;
  border: 1px solid white;
  margin-top: 16px;
  width: 450px;
  display: flex;
  justify-content: center;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color:  rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



